@tailwind base;

@tailwind components;

@responsive {
    .navigation-button-logged-in {
        @apply block;
        @apply px-2;
        @apply py-2;
        @apply font-semibold;
        @apply text-purple-matcha;
        @apply rounded-md;
    }
    .navigation-button-logged-in:hover {
        @apply bg-purple-matcha;
        @apply text-white-matcha;
    }
    @screen sm {
        .navigation-button-logged-in {
            @apply px-5;
        }
    }

    .button-purple {
        @apply tracking-wide;
        @apply bg-purple-matcha;
        @apply text-white-matcha;
        @apply rounded-xl;
        @apply py-4;
        @apply px-16;
        @apply mx-auto;
        @apply font-bold;
    }

    .button-purple:hover {
        background-color: #ad1deb;
        background-image: linear-gradient(315deg, #ad1deb 0%, #6e72fc 74%);
    }

    .button-purple:active, .button-purple:focus {
        outline: none;
    }

    .matcha-input {
        @apply border-2;
        @apply border-purple-matcha;
        @apply rounded-lg;
        @apply text-purple-matcha;
        @apply bg-white-matcha;
        @apply py-4;
        @apply px-8;
    }

    .matcha-input:focus {
        @apply border-purple-matcha;
        outline: none;
    }
}

@tailwind utilities;
